.container {
  margin: 0 auto;
  width: 100%;
}


.input-lg {
	padding: 30px 50px;
	height: 120px;
	margin: 0px auto;
	border-radius: 0px;
	font-weight: normal;
}


.form-info {
	margin: 10px 0px 20px;
	display: none;
	color: #000;
	padding: 10px;
	text-align: center;
}

.alert-success {
	background: #c9ffb9;
    border: 1px solid #a6ca8a;
}

.alert-error {
    background: #ffcccc;
    border: 1px solid #f5aca6;
}


.intro-header {
	background: url(../img/intro-bg.png) no-repeat left top;
    background-size: cover;
	padding-top: 0px;
}

.intro-header .logo {
	background: url(../img/logo.png) no-repeat left top;
    background-size: cover;
	width: 100%;
	height: 100%;
}

.intro-message {
	padding: 34% 0 0 0;
}

/* prevent recovering logo by input */
@media(max-width:767px) {
	.intro-message {
		padding: 60% 0 0 0;
	}
}

.btn-ghost {

	background: transparent;
	color: #FFFFFF;
	border: 6px solid #F2F2F2;
	border-radius: 0px;
	padding: 20px 32px;
	font-size: 24px;
	font-weight: bold;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
}

.btn-ghost:hover, .btn-ghost:active, .btn-ghost:focus {
	border: 6px solid #F2F2F2;
	background: #F2F2F2;
}

.btn-ghost:active {
	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,.125);
	box-shadow: inset 0px 0px 3px rgba(0,0,0,.125);
}

.intro-message input {
	width: 90%;
	font-size: 28px;
}

.intro-message .form-info {
	width: 90%;
	margin: 0px auto 8px;
}


.content-section-a {
	background: #EEEEEE;
	padding: 10% 0%;
}



.content-section-b {
	padding: 0px;
}

.content-section-b .container {
}

.content-section-b .column1, .content-section-b .column2, .content-section-b .column3 {
	padding: 8% 6% 8%;
	text-align: center;
	min-height: 650px;
}

.content-section-b .column1 {
	background: #3ADACE;
	color: #FFFFFF;
}

.content-section-b .column2 {
	background: #000000;
	color: #FFFFFF;
}

.content-section-b .column3 {
	background: #90639A;
	color: #FFFFFF;
}


.content-section-c {
	background: #FFFFFF;
	padding: 100px 0px;
}

.content-section-c form {
	margin-top: 60px;
}

.content-section-c form input, .content-section-c form textarea {
	font-size: 24px;
}

.content-section-c form textarea {
	height: 300px;
}

.content-section-c form button {
	width: 100%;
	padding: 50px;
	border-radius: 0px;
}

.content-section-c .btn-send {
	background: #000000;
	color: #FFFFFF;
}

.content-section-c .btn-reset {
	background: #EEEEEE;
	color: #333333;
}



footer {
	padding: 10% 0% 8%;
	background: #EEEEEE;
	color: #A8A8A8;
}

.social-buttons {
	float: none;
	margin-bottom: 60px;
}

.social-buttons .btn {
	padding: 30px;
	font-size: 22px;
	border-radius: 50px;
}


/*
ul.share-buttons {
	list-style: none;
	padding: 0;
}

ul.share-buttons li {
	display: inline;
}*/
